@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title> @title </title>
    <link rel="stylesheet" media="screen" href="/home/assets/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="/home/assets/images/favicon.png">

</head>
<body>
    @content

    <script src="/home/assets/javascripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/home/assets/plugins/jquery-ui-1.10.1.custom/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="/home/assets/plugins/jquery-ui-1.10.1.custom/css/ui-darkness/jquery-ui-1.10.1.custom.min.css" />
    <script src="/home/assets/javascripts/backend.js" type="text/javascript"></script>
    <script>
        $(document).ready(function(){
            Backend.init();
        });

    </script>

</body>
</html>
