@(firstname: String)(lastname: String)

<!DOCTYPE html>

<html>
<head>
    <title> JCertif BackOffice 2013 </title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

</head>
<body>
    <h1> JCertif BackOffice 2013 </h1>
	
		Welcome to backoffice App @firstname @lastname

    <script src="@routes.Assets.at("javascripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("plugins/jquery-ui-1.10.1.custom/js/jquery-ui-1.10.1.custom.min.js")" type="text/javascript"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("plugins/jquery-ui-1.10.1.custom/css/ui-darkness/jquery-ui-1.10.1.custom.min.css")" />

</body>
</html>
