@(user:models.Participant)(session:models.Session)

<a href="http://www.jcertif.com">
 <br/>
<img src="http://jcertif-backend.roddet.cloudbees.net/assets/images/logoJCertifConference.jpg"></a>
<br/>
Merci @user.getFirstname() @user.getLastname() de participer à JCertif !
<br/>
<br/>
Votre inscription à la session a bien été enregistrée
<br/>
<br/>
<br/>   Session : @session.getTitle();
<br/>   Résumé : @session.getSummary();
<br/>   Date de début :  @session.getStart();
<br/>   Date de fin :  @session.getEnd();
<br/>
<br/>
Il ne vous reste plus que deux petites étapes à suivre pour compléter la procédure
Etapes à suivre :
----------------
<br/>
1 - Contacter rapidement le collecteur de votre secteur. Consulter notre page de contact pour trouver le collecteur le plus proche de chez vous.
<br/>
2 - Payez les frais de participation et recevez votre carte d'invitation officielle et un numéro de confirmation.
 <br/>
 <br/>
Vous pouvez vous connecter et réaliser votre agenda personnalisé sur http://www.jcertif.com
<br/>

