@(version:String)
<!DOCTYPE html>

<html>
<head>
    <title> JCertif Backend 2013 </title>
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">

</head>
<body>
	<h1>JCertif Backend 2013</h1>
    <header>
	    <i>version de services: @version</i><br/>
	    <i>version de specs: @version</i>
    </header>
    <hr />
    <img style="width: 100px;" alt="JCertifLab Logo" src="/assets/images/logoJCertifLab.jpg"><br/>
    <p>JCertif Back End 2013 : application exposant des services web (REST) que vont consommer les diff&eacuterentes applications de JCertif (site web, application mobile, etc...).<br/>
	Stack Technique :
	<ul>
		<li><a href="http://www.playframework.com">Play Framework</a></li>
		<li><a href="http://www.mongodb.org">MongoDB</a></li>
	</ul>
	</p>
	<hr />
    <footer style="padding: 30px 0;margin-top: 70px;border-top: 1px solid #E5E5E5;background-color: whiteSmoke;">
		<p>Le code est disponible sur <a href="https://github.com/JCERTIFLab/jcertif-backend-2013">Github</a></p>        
        <p>&copy; 2013-2014 JCertif.Lab</p>
	</footer>
</body>
</html>
