@main("JCertif Backend 2013") {

<h1> JCertif Backend 2013 </h1>

<h2> Les services </h2>

<ul>

    <li> <a href="/ref/sponsorlevel/list"> Liste des niveaux de partenariats </a> </li>
    <li> <a href="/ref/category/list"> Liste des categories </a> </li>
    <li> <a href="/speaker/list"> Liste des présentateurs </a> </li>
    <li> <a href="/speaker/register"> Ajouter un nouveau présentateur (Le contenu(body) de la requête est un nouveau présentateur représenté au format JSON) </a> </li>
    <li> <a href="/ref/sessionstatus/list"> Liste des status de session </a> </li>
    <li> <a href="/session/list"> Liste de toutes les sessions </a> </li>
    <li> <a href="/session/new"> Proposer une nouvelle session </a> </li>
    <li> <a href="/sponsor/list"> Liste de tous les sponsors </a> </li>
    <li> <a href="/login/list"> Liste de tous les logins </a> </li>
    <li> <a href="/participant/list"> Liste de tous les participants </a> </li>
    <li> <a href="/participant/register"> Ajouter un nouveau participant </a> </li>
</ul>

}
