@main("JCertif Backend 2013") {

<h1> JCertif Backend 2013 </h1>

<ul id="menu">

    <li> <a href="/ref/sponsorlevel/list"> Liste des niveaux de partenariats </a> </li>
    <li> <a href="/ref/category/new"> Ajouter une nouvelle categorie </a> </li>
    <li> <a href="/ref/category/list"> Liste des categories </a> </li>
    <li> <a href="/ref/category/remove"> Supprimer une categorie </a> </li>
    <li> <a href="/speaker/list"> Liste des présentateurs </a> </li>
    <li> <a href="/speaker/register"> Ajouter un nouveau présentateur (Le contenu(body) de la requête est un nouveau présentateur représenté au format JSON) </a> </li>
    <li> <a href="javascript:void(0);" id="add-status"> Ajouter un status de session </a> </li>
    <li> <a href="/ref/sessionstatus/list"> Liste des status de session </a> </li>
    <li> <a href="/ref/sessionstatus/remove"> Supprimer un status de session </a> </li>
    <li> <a href="/session/list"> Liste de toutes les sessions </a> </li>
    <li> <a href="/session/new"> Proposer une nouvelle session </a> </li>
    <li> <a href="/sponsor/list"> Liste de tous les sponsors </a> </li>
    <li> <a href="/login/list"> Liste de tous les logins </a> </li>
    <li> <a href="/participant/list"> Liste de tous les participants </a> </li>
    <li> <a href="javascript:void(0);" id="register-participant">Ajouter un nouveau participant</a></li>
    <li> <a href="/participant/{emailParticipant}/changepassword"> Changer le mot de passe d'un participant </a> </li>
    <li> <a href="/participant/get"> Récupérer les informations d'un participant (GET /participant/get/{emailparticipant}) </a> </li>
    <li> <a href="/participant/update"> Mettre à jour toutes les informations d'un participant (le mot de passe est exclu) </a> </li>
    <li> <a href="/participant/{emailParticipant}/lostpassword"> Réinitialiser le mot de passe (POST /participant/{emailParticipant}/lostpassword) </a> </li>
    <li> <a href="/participant/:emailParticipant/session/add/:idSession"> Inscrire un participant à une session (POST /participant/{emailParticipant}/session/add/{idSession}) </a> </li>
    <li> <a href="/participant/:emailParticipant/session/remove/:idSession"> Désinscrire un participant à une session (POST /participant/{emailParticipant}/session/remove/{idSession}) </a> </li>
    <li> <a href="/participant/:emailParticipant/session/list"> Lister toutes les sessions d'un participant (GET /participant/{emailParticipant}/session/list) </a> </li>
    <li> <a href="/participant/login"> Vérifier les informations de connection d'un participant  </a> </li>
</ul>

<div id="dialog-register-participant" title="Inscrivez-vous !" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>
<div id="dialog-add-status" title="New status" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

}
