@main("JCertif Backend 2013") {

<h1> JCertif Backend 2013 </h1>

<ul id="menu">

	<li> <a href="javascript:void(0);" id="add-application"> Register Application </a> </li>
	<li> <a href="/login/oauth/v2/authorize?response_type=code&client_id=backoffice&state=xyz&scope=user,admin&redirect_uri=http://localhost:9000/backoffice/home" id="oauth-login"> Login via OAuth v2 </a> </li>
	<li> <a href="javascript:void(0);" id="login"> Login </a> </li>
	<li> <a href="javascript:void(0);" id="add-civilite"> Ajouter une civilit&eacute; </a> </li>
	<li> <a href="/ref/title/list"> Liste des civilit&eacute;s </a> </li>
    <li> <a href="javascript:void(0);" id="remove-civilite"> Supprimer une civilit&eacute; </a> </li>
	<li> <a href="javascript:void(0);" id="add-sponsor-level"> Ajouter un niveau de partenariat </a> </li>
	<li> <a href="/ref/sponsorlevel/list"> Liste des niveaux de partenariats </a> </li>
    <li> <a href="javascript:void(0);" id="remove-sponsor-level"> Supprimer un niveau de partenariat </a> </li>
    <li> <a href="javascript:void(0);" id="add-category"> Ajouter une nouvelle categorie </a> </li>
    <li> <a href="/ref/category/list"> Liste des categories </a> </li>
    <li> <a href="javascript:void(0);" id="remove-category"> Supprimer une categorie </a> </li>
    <li> <a href="/speaker/list"> Liste des présentateurs </a> </li>
    <li> <a href="/speaker/register"> Ajouter un nouveau présentateur </a> </li>
    <li> <a href="/speaker/update"> Mettre à jour les informations d'un présentateur </a> </li>
    <li> <a href="/speaker/remove"> Supprimer un présentateur </a> </li>
    <li> <a href="/speaker/{emailSpeaker}/changepassword"> Changer le mot de passe d'un présentateur </a> </li>
    <li> <a href="/speaker/{emailSpeaker}/lostpassword"> Réinitialiser le mot de passe d'un présentateur </a> </li>
    <li> <a href="javascript:void(0);" id="add-status"> Ajouter un status de session </a> </li>
    <li> <a href="/ref/sessionstatus/list"> Liste des status de session </a> </li>
    <li> <a href="/ref/sessionstatus/remove"> Supprimer un status de session </a> </li>
    <li> <a href="/session/list"> Liste de toutes les sessions </a> </li>
    <li> <a href="javascript:void(0);" id="session-add"> Proposer une nouvelle session </a> </li>
    <li> <a href="/session/remove"> Supprimer une session </a> </li>
    <li> <a href="/sponsor/list"> Liste de tous les sponsors </a> </li>
    <li> <a href="/sponsor/update"> Mettre à jour les informations d'un sponsor </a> </li>
    <li> <a href="/sponsor/new"> Ajouter un sponsor </a> </li>
    <li> <a href="/sponsor/remove"> Supprimer un sponsor </a> </li>
    <li> <a href="/login/list"> Liste de tous les logins </a> </li>
    <li> <a href="/participant/list"> Liste de tous les participants </a> </li>
    <li> <a href="javascript:void(0);" id="register-participant">Ajouter un nouveau participant</a></li>
    <li> <a href="javascript:void(0);" id="participant-changePassword"> Changer le mot de passe d'un participant </a> </li>
    <li> <a href="/participant/get"> Récupérer les informations d'un participant (GET /participant/get/{emailparticipant}) </a> </li>
    <li> <a href="/participant/update"> Mettre à jour toutes les informations d'un participant (le mot de passe est exclu) </a> </li>
    <li> <a href="javascript:void(0);" id="participant-reinitialPassword"> Réinitialiser le mot de passe </a> </li>
    <li> <a href="javascript:void(0);" id="add-participant-session"> Inscrire un participant à une session </a> </li>
    <li> <a href="javascript:void(0);" id="remove-participant-session"> Désinscrire un participant à une session </a> </li>
    <li> <a href="javascript:void(0);" id="list-participant-sessions"> Lister toutes les sessions d'un participant </a> </li>
    <li> <a href="/participant/login"> Vérifier les informations de connection d'un participant  </a> </li>
</ul>

<div id="dialog-register-participant" title="Inscrivez-vous !" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>
<div id="dialog-add-status" title="New status" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>
<div id="dialog-add-participant-session" title="Participant - Session" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-remove-participant-session" title="Participant - Session" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-list-participant-sessions" title="Participant - Sessions" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-participant-changePassword" title="Modification de password" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-participant-reinitial" title="réinitialisation de password" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-add-session" title="Ajout d'un session" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-add-sponsor-level" title="Ajout d'un niveau de partenariat" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-remove-sponsor-level" title="Suppression d'un niveau de partenariat" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-add-category" title="Ajout d'une cat&eacute;gorie" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-remove-category" title="Suppression d'une cat&eacute;gorie" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-add-civilite" title="Ajout d'une civilit&eacute;" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-remove-civilite" title="Suppression d'une civilit&eactue;" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-login" title="Login" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>

<div id="dialog-add-application" title="Ajout d'une Application" hidden="hidden">
    <form>
        <fieldset>
        </fieldset>
    </form>
</div>
}
