@(user: models.Speaker)

<!DOCTYPE html>

<html>
	<head>
	    <title> Changement de mot de passe </title>
	    <link rel="stylesheet" media="screen" href="http://jcertif-backend.msomda.cloudbees.net/assets/stylesheets/email-content.css">
	</head>
	<body>
		<div class="container">
			<div align="left">
			   <img style="width: 100px;" alt="JCertif Logo" src="http://jcertif-backend.msomda.cloudbees.net/assets/images/logoJCertifConference.jpg"><br>
			</div>
		
			<div class="container2">
				<p>
				   Bonjour @user.getTitle() @user.getFirstname() @user.getLastname(),<br/>
				   Votre mot de passe a bien &eacute;t&eacute; chang&eacute;.<br />
				   <br/>
				   ================================================<br />
				   &Eacute;quipe JCertif 2013 - <a href="http://www.jcertif.com/" target="_blank" style="color: rgb(0, 0, 204);">http://www.jcertif.com</a><br />
				   info@@jcertif.com
				</p>
			</div>
		</div>
		<hr />
		<br/>
		<br/>
		<div class="container2">
			<p>
			   Hi @user.getTitle() @user.getFirstname() @user.getLastname(),
			   Your password has been changed.<br />
			   <br/>
			   ================================================<br />
			   Team JCertif 2013 - <a href="http://www.jcertif.com/" target="_blank" style="color: rgb(0, 0, 204);">http://www.jcertif.com</a><br />
			   info@@jcertif.com
			</p>
		</div>
	</body>
</html>

