@(user:models.Participant)

<a href="http://www.jcertif.com">
<br/>
<img src="http://jcertif-backend.roddet.cloudbees.net/assets/images/logoJCertifConference.jpg"> </a>
<br/>
Bonjour
@user.getFirstname() @user.getLastname()
<br/>
<br/>
Votre mot de passe a bien été changé !
<br/>
<br/>
Vous pouvez vous connecter et réaliser votre agenda personnalisé sur <a href="http://www.jcertif.com">http://www.jcertif.com</a>
<br/>
<br/>
------------------------------------------------
<br/>
<br/>
Morning
@user.getFirstname() @user.getLastname()
<br/>
<br/>
Your password has been changed !
<br/>
<br/>
You can connect and build your personal calendar on <a href="http://www.jcertif.com">http://www.jcertif.com</a>
<br/>