@(user:models.Participant)(newPassword:String)

<a href="http://www.jcertif.com">
<img src="http://jcertif-backend.roddet.cloudbees.net/assets/images/logoJCertifConference.jpg"> </a>
<br/>
Bonjour @user.getFirstname() @user.getLastname()
<br/>
<br/>
Votre mot de passe a été réinitialisé.
<br/>
<br/>
Le nouveau mot de passe est : <b> @newPassword </b>
<br/>
<br/>
Vous pourrez le changer dès votre prochaine connexion.
<br/>
<br/>
Vous pouvez vous connecter et réaliser votre agenda personnalisé sur <a href="http://www.jcertif.com">http://www.jcertif.com</a>
<br/>
<br/>
------------------------------------------------
<br/>
<br/>
Morning @user.getFirstname() @user.getLastname()
<br/>
<br/>
Your password has been reset.
<br/>
<br/>
The new password is : <b> @newPassword </b>
<br/>
<br/>
You can change it at the next login.
<br/>
<br/>
You can connect and build your personal calendar on <a href="http://www.jcertif.com">http://www.jcertif.com</a>
<br/>