@(user:models.Participant)(newPassword:String)

<!DOCTYPE html>

<html>
	<head>
	    <title> R&eacute;initialisation de mot de passe ! </title>
	    <link rel="stylesheet" href="http://jcertif-backend.msomda.cloudbees.net/assets/stylesheets/email-content.css">
	</head>
	<body>
		<div class="container">
			<div align="left">
			   <img style="width: 100px;" alt="JCertif Logo" src="http://jcertif-backend.msomda.cloudbees.net/assets/images/logoJCertifConference.jpg"><br>
			</div>
		
			<div class="container2">
				<p>
				   Bonjour @user.getTitle() @user.getFirstname() @user.getLastname(),<br/>
				   Votre mot de passe a &eacute;t&eacute; r&eacute;initialis&eacute;.<br />
				   <br />
				   Votre nouveau mot de passe est : <b> @newPassword </b><br />
				   <br />
				   Vous pourrez le changer d&egrave;s votre prochaine connexion.<br/>
				   <br/>
				   ================================================<br />
				   &Eacute;quipe JCertif 2013 - <a href="http://www.jcertif.com/" target="_blank" style="color: rgb(0, 0, 204);">http://www.jcertif.com</a><br />
				   info@@jcertif.com
				</p>
			</div>
		</div>
		<hr />
		<br/>
		<br/>
		<div class="container2">
			<p>
			   Hi @user.getTitle() @user.getFirstname() @user.getLastname(),
			   Your password has been reset.<br />
			   <br />
			   Your new password is : <b> @newPassword </b><br />
			   <br />
			   You can change it at the next login.
			   <br />
			   <br/>
			   ================================================<br />
			   Team JCertif 2013 - <a href="http://www.jcertif.com/" target="_blank" style="color: rgb(0, 0, 204);">http://www.jcertif.com</a><br />
			   info@@jcertif.com
			</p>
		</div>
	</body>
</html>