@(user:models.Participant)(session:models.Session)

<!DOCTYPE html>

<html>
	<head>
	    <title> Merci pour votre participation ! </title>
	    <link rel="stylesheet" href="http://jcertif-backend.msomda.cloudbees.net/assets/stylesheets/email-content.css">
	</head>
	<body>
		<div class="container">
			<div align="left">
			   <img style="width: 100px;" alt="JCertif Logo" src="http://jcertif-backend.msomda.cloudbees.net/assets/images/logoJCertifConference.jpg"><br>
			</div>
		
			<div class="container2">
				<p>
				   Merci @user.getFirstname() @user.getLastname() de participer &agrave; JCertif!<br />
				   Votre d&eacute;sinscription &agrave; la session @session.getTitle() a bien &eacute;t&eacute; enregistr&eacute;e.<br />
				   En voici un récapitulatif :<br />
				   <ul>
				   	<li>Session : @session.getTitle()</li>
				   	<li>Résumé : @session.getSummary()</li>
				   	<li>Date de début :  @session.getStart()</li>
				   	<li>Date de fin :  @session.getEnd()</li>
				   </ul>
				   <br />
				   ================================================<br />
				   &Eacute;quipe JCertif 2013 - <a href="http://www.jcertif.com/" target="_blank" style="color: rgb(0, 0, 204);">http://www.jcertif.com</a><br />
				   info@@jcertif.com
				</p>
			</div>
			<br/>
			<hr />			
			<br/>
			<div class="container2">
				<p>
				   Hi @user.getFirstname() @user.getLastname() for having joined JCertif!<br />
				   Your unsubscription for session @session.getTitle() has been registered.<br />
				   Here's the details of the session :<br />
					   <ul>
					   	<li>Session : @session.getTitle()</li>
					   	<li>Summay : @session.getSummary()</li>
					   	<li>Start date :  @session.getStart()</li>
					   	<li>End date :  @session.getEnd()</li>
					   </ul>
				   <br />
				   ================================================<br />
				   Team JCertif 2013 - <a href="http://www.jcertif.com/" target="_blank" style="color: rgb(0, 0, 204);">http://www.jcertif.com</a><br />
				   info@@jcertif.com
				</p>
			</div>
		</div>
	</body>
</html>

