@(user:models.objects.Participant)(session:models.objects.Session)

<a href="http://www.jcertif.com">
 <br/>
<img src="http://jcertif-backend.roddet.cloudbees.net/assets/images/logoJCertifConference.jpg"></a>
<br/>
Merci @user.getFirstname() @user.getLastname() de participer à JCertif !
<br/>
<br/>
Votre désinscription à la session a bien été enregistrée
<br/>
<br/>
<br/>    Session : session.getTitle();
<br/>   Résumé : session.getSummary();
<br/>   Date de début :  session.getStartDate();
<br/>   Date de fin :  session.getEndDate();
<br/>
<br/>
Vous pouvez vous connecter et réaliser votre agenda personnalisé sur http://www.jcertif.com
<br/>

